.flex-container
  display: flex
  justify-content: space-between
  .left_item_1
    background-color: #666666
    flex-grow: 0
  .left_item_2
    display: inline-flex   //直接flex 会占满父元素的宽度
    .left_item_2_1
      background-color: #888888
    .left_item_2_2
      background-color: pink
  .right_item_1
    background-color: #aaaaaa
  .right_item_2
    background-color: #cccccc